React-Core-Example/JobClient/node_modules/.package-lock.json
React-Core-Example/JobApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
React-Core-Example/JobApi/obj/Debug/netcoreapp3.1/JobApi.AssemblyInfo.cs
React-Core-Example/JobApi/obj/Debug/netcoreapp3.1/JobApi.AssemblyInfoInputs.cache
React-Core-Example/JobApi/obj/Debug/netcoreapp3.1/JobApi.GeneratedMSBuildEditorConfig.editorconfig
React-Core-Example/JobApi.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
React-Core-Example/JobApi.Tests/obj/Debug/netcoreapp3.1/JobApi.Tests.AssemblyInfo.cs
React-Core-Example/JobApi.Tests/obj/Debug/netcoreapp3.1/JobApi.Tests.AssemblyInfoInputs.cache
React-Core-Example/JobApi.Tests/obj/Debug/netcoreapp3.1/JobApi.Tests.GeneratedMSBuildEditorConfig.editorconfig
React-Core-Example/JobApi/bin/
React-Core-Example/JobApi/obj/
React-Core-Example/JobApi/.vs/
React-Core-Example/.vs/
React-Core-Example/JobApi.Tests/obj/
